@model Category

<!--  This razor page is designed to for editing our table-->
<form method="post" asp-action="Delete">
    <!-- asp-action="Edit is optional but it is an explicit way of handling our edit "->
          <input asp-for="Id" /> //This line is imparitive when deleting wout/ After clicking the delele button we won tretun to the Category index page
     <div class=" border p-3 mt-4"> 
        
               <div class="row pb-2">
               <h2 class="text-primary">Delete Category</h2>
               </div>


            @*<div asp-validation-summary="All"></div>*@ <!--This helprt will display all the errors at the top if the filds are emty and the button is clicked -->

             <!--Two labels and two inputs-->
          <div class="mb-3">     
            <label asp-for="Name"></label>   
            <input asp-for="Name" disabled class="form-control "/>
            <!--When the button is clicked and there is nothing in the field this span will pop-up | INFORMING THE USER->
            <span  asp-validation-for ="Name" class="text-danger"></span>   <!--Checks that the field is valid | somthering as been entered | issue not displaying error msg when button is clicked  -->
          </div>

        <div class="mb-3">
            <label asp-for="DisplayOrder"></label>
            <input asp-for="DisplayOrder" disabled class="form-control " />
            <!--When the button is clicked and there is nothing in the field this span will pop-up | INFORMING THE USER->
            <span asp-validation-for ="DisplayOrder" class="text-danger"></span>   <!--Checks that the field is valid | somthering as been entered | issue not displaying error msg when button is clicked  -->
        </div>

        <!--Two Buttons, first submits the form, its dynamic functions are built in the categoryController | second reroutes back to the index page-->
        <button type="submit" class="btn btn-primary" style="width:150px">Delete</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">Back To List</a>
    </div>

</form>
  
